[2015-10-09 20:53] muatik opened #3 "need a settings directive to enable or disable the profiler"

[2015-10-10 13:16] #3 closed

[2015-10-21 14:37] sibeliusseraphini opened #8 "cannot import name 'measure'"
cannot import name 'measure'

[2015-10-21 20:43] muatik commented on #8
could you please paste the code you were trying to run or it was the code shown as the sample in readme file?

[2015-10-22 00:22] sibeliusseraphini commented on #8
I've just installed using pip install, put the code based on the sample code in README.md, and I've received this import error

[2015-10-22 18:29] muatik commented on #8
It seems that this issue was related to python3 because I tried with python3 and got the same issue. Now this project supports python3 too, tested with python 3.4 and python 3.5

[2015-10-22 21:14] sibeliusseraphini commented on #8
ok, thanks

[2015-10-22 21:14] #8 closed

[2015-10-26 19:20] sibeliusseraphini opened #11 "Error using python3 mongodb"
File "./manage.py", line 20, in <module>
    flask_profiler.init_app(app)
  File "/Users/sibelius/.virtualenvs/condomnio/lib/python3.4/site-packages/flask_profiler/flask_profiler.py", line 177, in init_app
    collection = storage.getCollection(CONF.get("storage", {}))
  File "/Users/sibelius/.virtualenvs/condomnio/lib/python3.4/site-packages/flask_profiler/storage/__init__.py", line 7, in getColl

[2015-10-26 20:31] muatik commented on #11
you are right, there is an issue with mongodb. it will probably be fixed by this time tomorrow.

[2015-10-26 20:56] sibeliusseraphini commented on #11
thanks, great lib by the way

[2015-10-28 23:20] #11 closed

[2015-10-31 10:10] muatik opened #13 "in the userinterface, browser's back button does not work as expected"
back button should make user go from one tab to another, instead of changing the entire page. For example, on the dashboard tab when I go filtering tab and then click back button it does not go to the previous dashboard tab.

[2015-11-03 20:19] muatik opened #16 "besides mean average, mode metric should also be available"
sometimes a few outliner elapsed values can dramatically change average value and this may lead to wrong evaluation. to decrease this side effect, mode calculation should be available.

[2015-11-05 21:46] #13 closed

[2015-11-23 13:06] muatik opened #18 "receiving daily/weekly brief report email would be great"

[2015-11-23 13:08] muatik opened #19 "filtering page's paging does not work"
when I click a link on the dashboard and go automatically to the filtering page, list paging does not work and looks like it fetches all the date at a time.

[2015-11-24 22:01] muatik opened #20 "search engine indexing must be not allowed"
a robot.txt file may be created to prevent search engines from indexing flask profiler's dashboard because it most probably has confidential information.

[2015-12-01 15:00] TigerApps opened #22 "Securing the metrics"
Can you tell me how to secure the metrics?

What I mean is I dont want to keep the metrics urls like /flask-profiler/ open to anybody. How can I add a security system?

[2015-12-01 20:49] muatik commented on #22
At this moment there is not any securing feature. However, I am going to make a basicauth implementation for securing flask-profiler's API and interface. There will be a setting parameter to enable or disable the basic authentication. I think I can complete it within two weeks, because I have a very tight schedule these days. Of course, pull requests will be welcomed :)

[2015-12-02 08:05] TigerApps commented on #22
I can work on it if you can tell me the complete flow that you have in mind.
Also, it is needed to put in custom decorators for routes or some other mechanism for eg if I am to use flask-limiter, I am not able to limit exempt these admin/flask-profiler routes.

[2015-12-02 09:53] muatik commented on #22
I propose the following flow:

- there must be a setting parameter to enable or disable security feature.
[code]
- If the basicAuth.enabled is False, flask-profiler's routers should be accessible by everyone. No authentication will be asked.
- if the basicAuth.enabled is True, then flask-profiler's routers must be secured and should serve only to authenticated users.

To protect routers, a decorat

[2015-12-02 14:38] TigerApps commented on #22
That would do the back-end but I think there will be more to security. At front-end, it would need a login screen and then js service accordingly to save and plug in the auth values into each subsequent request.
That would do it.

[2015-12-06 19:46] #22 closed

[2015-12-07 19:14] TigerApps commented on #16
How many decimal places should be considered in your opinion for mode calculations?

I would try to write an API for the same.

[2015-12-07 19:39] muatik commented on #16
Looking at request times within a few projects, it looks like 6 decimal places would be sufficient.

But I am not convinced yet that mode calculation will be useful. On the other hand, I am also thinking of calculating standard  deviation to devise a better way for elimination of outliners. For this;
1.step: calculate standard deviation
2.step: ignore numbers which are out of standard deviation
3.

[2015-12-11 09:58] TigerApps commented on #16
Check this out:
https://perfwork.wordpress.com/2012/04/09/response-time-metric-for-sla/
Percentiles are the solution. We can go for 90% and a 20% too.

[2015-12-11 09:59] TigerApps commented on #20
With auth added, this issue can be closed too?

[2015-12-11 10:57] muatik commented on #20
not necessarily because there may be some cases in which auth is disabled and indexing is still not wanted.

[2015-12-15 19:05] iurisilvio commented on #20
I don't think this must be responsible for a robots.txt file. The application probably already have a robots file.

For index.html, you can just set a meta tag:

[code]

For JSON resources, it is obviously not possible to add an HTML tag. Most crawlers respect the `X-Robots-Tag`.

I sent a pull request (#26) with these changes.

[2015-12-15 20:48] muatik commented on #20
your solution looks like to me sufficient for this issue. :+1:

[2015-12-15 20:51] #20 closed

[2015-12-15 20:52] muatik commented on #19
@xorxor I think you can handle this problem, don't you?

[2016-01-22 02:53] kkwezard opened #28 "Failed to load webpage when configuring MongoDB as storage backend"
flask_profiler throw
[code]
when executing such code:
[code]
This error occurs when flask_profiler try to access aggregated result from mongodb via
[code]
and assume `result` is a list of aggregated data. But what mongodb return actually like this
[code]
Therefore, we should access the aggregation result by `result = self.collection.aggregate(...)['result']`.
I'm using MongoDB 2.6.3, not sure if M

[2016-04-06 16:33] alejoar opened #30 "No info in dashboard"
I installed flask-profiler today and seems to work alright, except I don't get any methods info in the dashboard screen, what am I doing wrong?

Filtering page seems to work alright.

Please check the screenshots:

dashboard: http://imgur.com/OfnCqU0
filtering: http://i.imgur.com/TdZkmgY

[2016-04-06 19:48] muatik commented on #30
actually you are not supposed to do anything to get summary info. I will check this.

if your database does not contain sensitive data, could you please send it here?

or could you send responses of the ajax request of the summary page?

[2016-04-07 07:57] alejoar commented on #30
I've been running this in a test environment so there's no sensitive data. Here's the DB: https://drive.google.com/file/d/0B-gm7xa66enOWEFEQlJfQ2xDN3M/view?usp=sharing

As an unrelated question: what's the impact of running this on a production server?

[2016-04-07 09:16] muatik commented on #30
thanks for the db.

I downloaded and started flask-profiler with it; it works for me. I am able to see the summary info on the dashboard page.

![image](https://cloud.githubusercontent.com/assets/106846/14346186/afb15aa6-fcb9-11e5-9798-229ff62fa73c.png)

Can you check the ajax request using chrome's developer console? And what do you get when make the request below?

http://127.0.0.1:5000/flask-pr

[2016-04-07 09:37] alejoar commented on #30
Ok, I think that's where the problem is.

For some reason, the URL requested in my instance of flask profiler looks like this: `grouped?draw=1(...)`, which returns an empty response. Yours looks like this: `?draw=1(...)`.

I found that simply adding a slash ( `grouped/?draw=1(...)`) returns as expected.

Here's a screenshot: http://imgur.com/BSgi6zu

[2016-04-11 11:48] alpayOnal opened #31 "i get the following error: TypeError: Incorrect padding"
2016-04-11 11:47:34 - ERROR - app: Exception on /hipchat/authorize [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1817, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1477, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/local/lib/pyt

[2016-04-18 10:24] divyenduz opened #32 "Allow deletion of profiling from UI and/or profiling session"
Are you considering adding some functionality to start a profiling session. As information marked without it is difficult to process ?

Also, one easy way of doing that would be to have buttons like :-
1. delete all data (to start over)
2. Save and delete all data (to save a session or all data so far and start over)

If you guys agree on this, I can start working on a PR for the same :)

Thanks

[2016-04-18 10:25] divyenduz commented on #32
I know it is possible to delete / copy the DB manually to achieve all this but I think it would be a good to have feature on UI

[2016-04-18 17:19] muatik commented on #32
Hi @divyenduz

Your recommendations are really cool. It would be great to have a "dump current database" and "delete all data" button on a page, maybe a settings page?

You are free to make any changes as you wish :)

[2016-04-19 19:57] muatik commented on #30
Hi @alejoar
I am not able to reproduce the issue so that I cannot come up with a solution.

[2016-04-20 08:30] alejoar commented on #30
@muatik unfortunately I moved on to logstash to get the same kind of stats so I can't give you any more feedback for flask-profiler. I have no idea why the requested url had that difference in my server, I didn't alter the code at all.

The problem I had was that I have several servers running flask and I needed something centralized so I moved my data recollection to the load balancers.

[2016-04-20 09:06] muatik commented on #30
ohh ok, thanks anyway.

[2016-05-05 09:04] muatik commented on #32
hi @divyenduz, are you still interested in this issue and its implementation?

[2016-05-05 10:31] divyenduz commented on #32
@muatik : Thanks for notifying. I am interested but never got a change. I hope you can wait for 2-3 weekends before closing this one ?

[2016-05-05 11:11] muatik commented on #32
yeap, that's ok.

[2016-05-13 12:08] divyenduz commented on #32
@muatik : Hey, I started working on this, however, I have a few (naive) concerns.

1. The example app.py import did not work for me
I got an import error in that case, I had include the parent path (code below) to make it work. Am I doing something wrong ?
[code]

2. I started off with the UI (looks like the image below)
![settings](https://cloud.githubusercontent.com/assets/746482/15247294/f192c7

[2016-05-14 15:51] muatik commented on #32
@divyenduz great that you started contribution.

1) actually you should not change the example/app.py since as its name suggest, it is an example. it is intended to be run with the flask-profiler install via pip. but doing your development, it is ok, just do not commit changes in it :)

2.1) your settings ui looks like enough to me, since we have only two action/button. we can move on with it.

2.

[2016-05-18 13:10] nlohmann opened #35 "Column "name" is not filled"
I set up `flask-profiler` as described in the README, and it works fine so far. However, column "name" is always empty:

![dashboard](https://cloud.githubusercontent.com/assets/159488/15359576/44ec610e-1d0a-11e6-8c63-7bc7902fb828.PNG)

Apart from that, everything works find - it's just a bit inconvenient to only see the HTTP method.

I am using:

- Python 2.7.5
- Flask 0.10.1
- Flask-Profiler 0.5

[2016-05-18 13:16] nlohmann commented on #35
Update: It seems to work with Internet Explorer (tried 11.0.9600), but the names are missing with Firefox (using 38.7.1). As the latter is my default browser, the issue is still inconvenient.

[2016-05-18 13:33] muatik commented on #35
@xorxor perhaps you have an idea since it looks like a front-end issue?

[2016-05-18 14:27] xorxor commented on #35
@muatik yes, I am working on new version, including this issue

[2016-05-19 05:47] nlohmann opened #36 "Flask crashes when static files are served (ProgrammingError: Recursive use of cursors not allowed)"
When I enable the flask-profiler, the app crashes when files from the `static` folder are served:

[code]

I first though that this is, because requests to `/static` are not mentioned in the app routes, but also with a route with `return app.send_static_file('index.html')` I get the same error. All other routes (none are serving files from `static`) run fine.

I am using:
- Python 2.7.5
- Flask 0.

[2016-05-19 05:54] nlohmann commented on #35
I checked just to make sure: Neither browser gives a Javascript warning, and both browsers are serving the exact same sources.

[2016-05-20 20:51] divyenduz commented on #32
@muatik Thanks for the information.
No news on the front end build description yet.

I will continue by making a separate JS file for now until I am given heads up on the JS build system.

[2016-06-09 06:32] havok2063 opened #38 "flask-profiler work in production mode?"
Does the flask-profiler only work in debug mode?  While this is great for debugging, I'd like to collect statistics while users are navigating my Flask app in a real production environment.  Is this possible?  If so, can you provide an example of the config info that needs to be set?

[2016-06-09 06:37] muatik commented on #38
It can work regardless of what the debug mode is. Please have a look at quick start examples: https://github.com/muatik/flask-profiler#quick-start

You can turn on/off it using the `enabled` directive as follows.

If debug mode is on, then the flask profiler is on.
[code]

Flask-profiler is always on:
[code]

[2016-06-09 06:43] muatik commented on #38
and if you want to use it in a production environment, do not forget to turn basic authentication on so that only people know username and password can access to flask-profiler.

[code]

[2016-06-09 07:06] havok2063 commented on #38
Ok.  That makes sense.  I did read the quickstart, but it wasn't clear about debug vs production.  And I only say
[code]

[2016-06-09 18:37] havok2063 opened #39 "incorporating cProfile output into the page"
I really like the webpage output of the endpoint statistics.  It would be great to include the output from cProfile for each out as well, perhaps even in a visual way.  I can see the option of clicking on one of the routes on the main page, and instead of simply displaying the detailed header info, it takes you to a new page that has that header info plus the detailed output from cProfile.  How fe

[2016-06-11 14:37] divyenduz commented on #32
@muatik : Should I send a PR with external JS, I added another file to get the functionality done ? No news on the JS build system yet.

I am comfortable for @xorxor to reply and then send PR later. Let me know. :)

[2016-06-11 15:24] muatik commented on #32
@divyenduz I think, at this point, external files are not obstacles. so, you can send PR without waiting. maybe @xorxor can edit/merge the files later.

[2016-06-11 15:29] muatik commented on #39
Indeed, in the past, I thought the same. but I did not have enough time. maybe, somebody who is willing to contribute or I can work on this.

[2016-06-19 06:15] divyenduz commented on #32
@muatik : Thanks, I will sent the PR soon then. Thanks.

[2016-06-21 12:18] divyenduz commented on #32
@muatik : It took me long but now we have something concrete to discuss.
Your opinion on this https://github.com/muatik/flask-profiler/pull/41

[2016-07-06 04:43] yubang opened #42 "suggest"
能否记录下返回的结果呢，因为这个插件在用于测试API接口的时候需要这个功能，这样子便于调试。

Can record the result returned, because this plug-in when used to test the API interface to need this functionality, it easy to debug.

[2016-07-06 07:40] muatik commented on #42
Indeed, it can be a useful functionality. It would be better to have a settings directive to turn this functionality on or off because some API outputs may be too large to store.

[2016-07-07 17:37] havok2063 opened #43 "changing url route of flask-profiler"
How can we modify the url route for the flask-profiler?  Currently it automatically routes to the main, e.g.

`localhost:5000/flask-profiler/
`

This is fine for debug mode or for production mode where you are not behind a subdomain on a larger server.  How can I set the url route for flask-profiler to be behind a subdomain so it works in production mode? E.g. my webapp site is at

`www.domainname

[2016-08-09 02:33] #28 closed

[2016-09-21 11:34] savakarv commented on #43
We have done that in our project. I am able to access flask_profiler in a link http://example.com/project-name/flask-profiler/

We were able to achieve this by setting WSGIScriptAlias in httpd.conf file (service is running inside Tomcat).
WSGIScriptAlias /project-name "/project/path/project-name-rest.wsgi"

[2016-09-22 07:03] divyenduz opened #44 "Optimizing for production profiling like XHGui"
Is there a feature where we can limit the number of samples probabilistic and use profile in production with huge load ?

If such a feature is not present, we can create one like :-

This is done in one of php profilers named `XHGui` | https://github.com/perftools/xhgui

`The following example configures XHGui to profile 1 in 100 requests, excluding requests with the /blog URL path:`

[2016-09-22 07:31] muatik commented on #44
currently, there is not such a feature. but it would be a useful feature.

[2016-09-22 07:40] divyenduz commented on #44
I think I can take this up and line up a PR ?
Should I go ahead ?

[2016-09-22 08:05] muatik commented on #44
that sounds great :) but first, should we discuss a little how the feature will be?

if we choose 1 in 100 in an arbitrary way, or random, then the summary section may have strange results. there may be a setting directive to tune the ratio, in some apps it would be 1/10, or 1/1M?

[2016-09-22 08:17] divyenduz commented on #44
Yes, a discussion is much needed on this :)

So, broadly when we take random sample with 1/100 probability, we rely on math to get us 1% of the sample set | https://en.wikipedia.org/wiki/Normal_distribution

Which is why this works well for `XHGui` and this is normally suggested when you ask questions about this topic | http://stackoverflow.com/questions/12364622/php-how-to-run-sampling-profiler-i

[2016-09-22 08:21] muatik commented on #44
okay, let's go with this.

[2016-09-22 08:23] divyenduz commented on #44
Cool, I will start soon. Do you have another release date in mind, I will try to cover this before that ?

[2016-09-22 11:05] muatik commented on #44
nope, actually there isn't a planned release. so, feel free while working on this; as soon as possible this feature is completed a new release can be presented.

[2016-09-23 12:41] divyenduz commented on #44
Thanks, I will start this weekend, hopefully. :+1:

[2016-09-28 08:55] #32 closed

[2016-10-03 10:15] divyenduz commented on #44
The initial PR is prepared. Let's discuss the implementation when you get a chance ?

[2016-10-22 04:44] divyenduz commented on #44
@muatik : With https://github.com/muatik/flask-profiler/pull/45 merged, I think this issue can be closed. Planning a release anytime soon ?

Thanks,

[2016-10-22 04:46] divyenduz commented on #38
The next release will also have a feature to do sampling in production, making flask-profiler lean and more useful for production workloads. Refer to https://github.com/muatik/flask-profiler/issues/44 for details.

[2016-10-22 04:49] divyenduz commented on #18
@muatik : This would involve being able to configure SMTP from configuration and some sort of UI that allows the user to schedule emails.

What do you have in mind, let's discuss this further, I may take this up.

[2016-10-22 05:15] divyenduz commented on #35
@muatik : I can take this up but I would need help from @xorxor to know about the JS build system, in repo I was only able to find the generated main.js but there are no dev JS files that I can edit. Thanks.

[2016-10-22 05:18] divyenduz commented on #31
@alpayOnal : can you try the latest flask profiler code and see if this issue persists ?

[2016-10-22 07:34] #44 closed

[2016-10-22 08:53] #38 closed

[2016-10-22 08:57] muatik commented on #43
There is an option to set flask-profiler's url, however it isn't documented yet. https://github.com/muatik/flask-profiler/blob/master/flask_profiler/flask_profiler.py#L153

[code]
This directive's defaut value is `flask-profiler`.

I, or somebody, need to should be documented in README.md

[2016-10-22 09:01] muatik commented on #31
@divyenduz I think, @alpayOnal no longer has this issue, I think because he was one of my colleagues :)

I am going to close this.

[2016-10-22 09:01] #31 closed

[2016-10-22 09:06] muatik commented on #35
I think @xorxor is not interested in the project anymore, are you, @xorxor? If not, I can consider writing front-end side myself, even though I don't like front-end side :)

[2016-10-22 10:47] divyenduz commented on #35
Once the build system is recovered/discovered or in place, I can take the front end part up. **Life happens**, I understand @xorxor can be pre occupied :)

Let's wait for a while (1 month would be decent amount of time) for response from @xorxor, otherwise I will reverse engineer the already built files and create a JS build system around it.

Thanks :)

[2016-11-04 14:32] divyenduz commented on #35
@muatik : Should I start on reverse engineering the JS build system ? Any preferences on what do you want to use for the new build system ? ( say `webpack` or something )

[2016-11-04 18:14] muatik commented on #35
Okay, I had a chance to talk to @xorxor and he replied that he will not be able to contribute in short term, unfortunately.

If I am supposed to work on the front-end, I would choose bootstrap and native javascript alongside some jquery plugins. I've not been doing anything on the front-end side for considerable time, about 3-4 years so that I feel I lack modern methods.

It is up to you to choose

[2016-11-04 18:15] #43 closed

[2016-11-04 22:41] divyenduz opened #48 "BaseStorage should have method truncate"
`truncate` method is used by the route `<your-app>/<flask-profiler-endpoint>/db/deleteDatabase` introduced in https://github.com/muatik/flask-profiler/pull/41 but it is not defined in the BaseStorage class.

The following method should be present in storage/base.py
This will provide an interface for supporting any new database, there by, making the code more robust.

[code]

[2016-11-04 22:48] divyenduz opened #50 "Importing database dump"
The process of dumping database was covered in https://github.com/muatik/flask-profiler/issues/32 wherein we take the dump in JSON format.

How about an option to take a file and put it back into the DB i.e. importing of a dump.

Let me know your thoughts on this. Thanks

[2016-11-04 22:58] divyenduz opened #51 "python3 support"
As of now, I think python3 is not supported. I am getting the error

[code]

I think we should be moving on to support python3 as well. Should I work on a PR adding python3 support and automating the test cases to check both python 2, python 3 support ?

Thanks

[2016-11-05 08:57] muatik commented on #51
it is supposed to be compatible with python 3 too. Indeed, there is a test scenario for python 3: https://github.com/muatik/flask-profiler/blob/master/.travis.yml
[code]

and all tests seem to be passing. probably I may forget to cover some part of the code with unit tests.

[2016-11-05 09:01] muatik commented on #50
we had better think about how much importing database would be useful and required. we should keep the balance between functionality and simplicity. if this is really a must or at least nice-to-have feature, yes we can implement.

[2016-11-05 09:02] #48 closed

[2016-11-05 09:05] muatik commented on #42
@yubang would you like to participate as a coder in the implementation of this?

[2016-11-05 13:29] divyenduz commented on #50
My idea of dump was that the user should be able to profile a feature and save related information before deleting the DB and start to profile some other feature.

The idea of importing is not actually putting it into the DB but reading the JSON and putting it in memory for us to use the flask profiler view to navigate through that JSON.

So, this function can be as simple as a import button that

[2016-11-05 13:30] divyenduz commented on #51
I think my error comes in example/app.py which is not supposed to be covered. This one can be closed. Thanks.

[2016-11-09 21:00] #51 closed

[2016-11-17 12:38] zimmerst opened #52 "use flask-profiler in wsgi production environment"
Hi, for my flask application https://github.com/zimmerst/DmpWorkflow, i started using your brilliant profiler -- first off, thanks a lot for doing all the hard work for me. But I seem to be unable to use the flask profiler in the wsgi-production environment but only when i initialize the application by hand typing "python core/manage.py runserver"

For reference, here's the relevant code piece tha

[2016-11-17 13:59] VojtechBartos commented on #52
@zimmerst i had exact same issue and i have sorted it out to not using sqlite as DB for profiler in production and used mongo instead. You are already using mongo so it should be easy for you to switch

[2016-11-18 11:22] muatik commented on #52
@zimmerst for your purpose, MongoDB or MySQL is a better choice as @VojtechBartos suggests. have you tried this yet?

[2016-11-20 17:48] zimmerst commented on #52
Hi @muatik  & @VojtechBartos , thanks for the suggestions. My DB resides on a different host, so i have to convey all the information of mongodb to the profiler.

[code]
but although the URL looks okay, following: https://docs.mongodb.com/manual/reference/connection-string/

I get an authentication error.
[code]

While i try to work around this, may i suggest to add additional keywords to the mong

[2016-11-20 17:55] zimmerst commented on #52
actually, after a bit of playing around, i got it to work with this configuration:
[code]

what i would suggest is to create the MONGO_URL based on keywords, though if you think this is clear enough, maybe it's sufficient to just add the relevant MONGO_URL example line to your documentation.

[2016-11-20 17:55] #52 closed

[2016-11-29 07:31] divyenduz opened #54 "Sampling function in config should be callable"
The README.md suggests that `sampling_function` is an expression but it should be a function.
If an expression is supplied to `sampling_function`, it leads to bool is not callable exception.

Both these issues are addressed in https://github.com/muatik/flask-profiler/pull/53

[2016-11-29 21:20] #54 closed

[2016-11-30 05:00] divyenduz opened #55 "Feature for granular profiling"
While using flask-profiler in production (via [https://github.com/muatik/flask-profiler#sampling](https://github.com/muatik/flask-profiler#sampling))

I noticed that I miss a feature, while I am able to detect the slower endpoints, I had to go manually to profile the slower end points line by line, which involved going through multiple function calls.

How about integrating something like [https:/

[2016-12-15 07:48] divyenduz opened #56 "Feature: time series for request elapsed time for one route"
I think this will be a good addition, I am expecting the following in MVP:

1. This will help us measure the impact of deployments in a much easier manner.
2. This will open once we click a URL

@muatik : What is your opinion on this ?

Regards

[2016-12-16 12:29] muatik commented on #56
Does it mean that when a user clicks a route, he or she will be able to see a time series line chart for that route for a given data range?

[2016-12-18 05:18] divyenduz commented on #56
Yes, something like this. So, say I saw that one of my endpoints is taking time, I make a deployment to fix this. This graph will help me easily validate that the deploy has worked.

[2016-12-18 08:42] muatik commented on #56
Yeah, this looks like a useful feature. We can elaborate a little deeper.

Let's go through a scenario. A user clicks the route, `/api/products/`, on the interface. To construct a chart view, the UI needs to fetch historic data of `/api/products/`.

However, this route might be called with different query parameters, such as `/api/products/?q=foo` and `/api/products/?q=bar&r=1` So should this fetc

[2016-12-20 12:04] divyenduz commented on #56
I think both options should be there, when a user clicks on a url, only that should be specified but there should be an option to ignore query parameters.

The first step before building this though would be to reverse engineer the JS.

How does this sound ? I will make detailed plans, database and API requirements for this if both of us are on the same page.

Thanks

[2016-12-20 12:06] muatik commented on #56
I am okay, let's take action.

[2016-12-20 12:15] divyenduz commented on #56
Awesome, I will draft something substantial in some time.

Thanks

[2016-12-22 12:44] PankajWorks opened #57 "Is there a way to profiling of sqlalchemy query calls in this tool"
Thanks for this tool, I have used the tool and its great to profile api calls. Is there a way in which this tool can be extended to profile sqlalchemy calls

[2016-12-22 12:53] muatik commented on #57
you are welcomed @PankajWorks

I think profiling sqlalchemy is out of scope of this project.  Flask-profiler is designed to do one thing, and do it well. You had better look for another tool for that job? For instance, after googling, I found this: http://sqltap.inconshreveable.com/ it might work for you.

[2016-12-23 17:40] #57 closed

[2017-02-15 20:35] josiahtillman opened #59 "Image asset being counted on each page"
Whenever we load one of our pages, our logo (located at /static/assets/img/logo.png) is being counted in the flask-profiler as a GET with a name of "/static/<path:filename>" and is throwing off our Method distribution graph.

Is there a way to remove this or make flask-profiler ignore this?

![screen shot 2017-02-15 at 2 24 22 pm](https://cloud.githubusercontent.com/assets/12627410/22994247/dd566e

[2017-02-15 21:06] muatik commented on #59
Currently, there is no way to ignore a specific request. However, I think the ability to ignore routes specified with either regex pattern in configurations or a decorator is necessary. Giving a regex pattern for ignoring in configuration, I guess, is simpler.

[code]

[2017-02-16 11:27] muatik commented on #59
@josiahtillman could you please try the implementation?
Here is an example in which the router shown below will not be tracked by flask-profiler.

[code]

[2017-02-16 20:36] josiahtillman commented on #59
@muatik I inserted
`    "ignore": [
        "/static/*"
    ]`
but it is still showing up. I also tried this:
`    "ignore": [
        "/static/<path:filename>"
    ]`
but no luck. The weird thing is, we aren't using a method to get the image, it is simply inserted through our html, yet the flask-profiler is logging it. Here is what our logo's code looks like:
`<img src="/static/assets/img/tinker_

[2017-02-16 20:40] muatik commented on #59
Have you tried it after pulling flask profiler directly GitHub? Because it
is not available in pip repo.

You can install flask profiler via pip install gitgubUrl

On Feb 16, 2017 23:36, "josiahtillman" <notifications@github.com> wrote:

[2017-02-16 21:01] josiahtillman commented on #59
Ahh ok-- Just installed it directly thru GitHub and it works, except that using the "{}" instead of "{0}" is causing errors. Could possibly change this on lines 89 and 91 of flask_profiler.py?
`def measure(f, name, method, context=None):
    logger.debug("{0} is being processed.".format(name))
    if is_ignored(name, CONF):
        logger.debug("{0} is ignored.".format(name))
`

[2017-02-17 06:56] muatik commented on #59
I've made the changes and bumped version to 1.4.  Now you can also install it via `pip install`

[2017-02-23 08:51] #59 closed

[2017-02-24 18:26] havok2063 opened #62 "loading different saved profiler.sql files in the dashboard"
Is it possible, maybe with some trickery, to load saved flask_profiler.sql files, and view the results in the dashboard?  For some reason, accessing the profile page from my production website does not work.  However,  SQLite profile files are being created.  I just cannot view them.  So I'm considering downloading the files locally and trying to view them in a local web-app running the profiler i

[2017-02-24 22:43] havok2063 opened #63 "allow to view timeline plot over all time or a range"
The timeline graph should have an option to view over the full range or a filterable range of time, rather than just the last 30 days.  At least, I cannot find a way to do this in the current dashboard.

[2017-02-24 22:48] havok2063 commented on #63
Can you provide the non-minified versions of your javascript files?  It's a bit hard to read and develop on the min versions.

[2017-03-21 14:17] veken1199 opened #64 "unable to open database file on production"
I am having issue accessing the database file on Linux production server. I know the problem is associated with permission given to apache user, however, nothing seems to work. it only works when I run application using sudo. Any ideas what might be the reason ?

[2017-04-29 14:31] divyenduz commented on #55
I think this is a duplicate of https://github.com/muatik/flask-profiler/issues/39

[2017-05-21 15:58] bui opened #65 "Web interface not accessible if host matching is enabled"
If my app uses host matching,
[code]
then the flask-profiler web interface cannot be accessed as the URL will always return 404 since it isn't mapped to a host. I would like to suggest an optional config option to set the host to use for the web interface.

[2017-05-30 09:51] motdiem commented on #30
FWIW I ran into a similar issue today, and it turned out to be that the "/grouped" url can be a bit long (my wsgi had a limit to 4096 characters) - so setting buffer-size=32768 in wsgi settings solved it

Hope this helps

[2017-07-01 15:39] ssharma94 commented on #36
Hi nlohmann,
I am facing the same issue. Did you get to resolve the issue?

Thanks
Subhash

[2017-07-01 16:39] nlohmann commented on #36
We could not resolve the issue and decided to stop using Flask Profiler.

[2017-07-03 00:24] ssharma94 commented on #36
Oh I am putting a fix and let you know if it works. However, did you get any other open source project to do the same.

[2017-07-03 07:03] nlohmann commented on #36
No, we implemented some profiling ourselves. Nothing fancy, and a plugin like this would be appreciated.

[2017-07-28 15:49] ivansabik opened #66 "Add dynamodb as database system"
This a storage backend that requires almost zero maintenance, cheap and scalable. If I continue using flask profiler I'll try to contribute to this but opening an issue in case it's relevant for someone else.

[2017-07-28 16:04] muatik commented on #66
👍 maybe you can contribute and it would be great!

[2017-08-04 17:02] lee-pai-long commented on #30
I just ran on this issue today and indeed there is a mismatch between the js ajax call to and the route declaration.

From the Werkzeug Rule documentation:

[The route declaration](https://github.com/muatik/flask-profiler/blob/384b842a832ddb59ea370c02d09dc84c637add8b/flask_profiler/flask_profiler.py#L196) has a slash at the end:
[code]
While the ajax request don't:
[code]

This generate a HTTP 500

[2017-08-04 17:11] oldani opened #67 "Initialize flask profiler"
It will be nice if like other flask extensions we were able to create an instance of the profiler and either bootstrap it in `__init__ or init_app`. This help when the app is designed with factories and you initialize extensions in separate modules. I will be glad to make a PR with this.

[2017-08-04 17:44] lee-pai-long opened #69 "Front-end code is not maintainable"
The main.js and main.css are minified which block further work on them, please provide the dev versions and use gulp or grunt (with travis-ci) to minify code. Right now one just can't extend the library to include more data since it has no way to display them.

[2017-08-04 19:18] muatik commented on #67
@oldani it would be great you you send a pr

[2017-08-04 19:20] #30 closed

[2017-08-07 05:49] #67 closed

[2017-08-09 13:10] oldani opened #71 "Release new features and fixes"
Hi,

 Could we make a minor release here, want to use last changes on a project, my issue is I register all extensions and then all API resources using an app factory and I cannot do it reverse, with last feature implementation no matters where profiler is initialized.

[2017-09-07 18:59] oldani opened #72 "sqlite3.OperationalError: database is locked"
From time to time when the package is using sqlite, it locks the db and by then any endpoint is accesible. Here the traceback.

[code]

[2017-09-08 15:19] oldani commented on #72
@muatik I will try to replicate and fix it and submit a PR, i need this fix asap

[2017-10-26 14:57] havok2063 opened #74 "changelog?"
Is there a changelog somewhere indicating the differences between versions?  I'd like to know the features/bug fixes/changes different between 1.5 and 1.6.   If there isn't one, I think it would be helpful to include.

[2017-10-26 15:19] muatik commented on #74
@havok2063 currently changelog is not being kept. but as you said, it would be helpful.

by the way, 1.6 introduces sqlalchemy support.

[2017-10-26 19:33] muatik commented on #74
@havok2063 I just created a simple changelog file starting from v1.6
Is there a better way/format or this will be enough?
https://github.com/muatik/flask-profiler/blob/master/changelog.txt

[2017-10-27 14:19] havok2063 commented on #74
@muatik I think the standard format is a markdown or rst file, something similar to README.md.  I have created an example file in CHANGELOG.md of how I write mine.  I filled it in with some info based on your release page.  You can probably fill in more info.  I typically differentiate sections between
* Added - brand new features or functionality
* Changed - change in behaviour of existing featur

[2017-10-27 20:18] muatik commented on #64
Most probably the database file(sqlite in this case) is now owned by the user who also runs the apache server. In other words, the user does not have write permission on it.

When you run it as sudo, the sudoer user will have the write permission. So it will work.

You can give the write permission for your apache user but I suggest using mysql/postgresql or mongodb instead.

[2017-10-27 20:18] #64 closed

[2017-11-06 08:40] teleyinex commented on #72
We've had this issue as well here.

[2017-11-06 09:53] muatik commented on #72
@teleyinex Can you switch to using sqlalchemy configurations? https://github.com/muatik/flask-profiler#sqlachemy

[2017-11-06 10:40] teleyinex commented on #72
That doesn't work either. Interestingly I get an SSL EOF error from psycopg2. Our solution has been to use MongoDB for now. I guess the main issue, is that flask_profile issues too many writes, and sqlite locks itself. Maybe changing the sampling could fix this?

[2017-11-06 10:47] muatik commented on #72
yes, you can reduce the sampling ratio via configuration too. but it will not be a permanent solution anyway.

[2017-11-06 10:52] teleyinex commented on #72
Yep. I don't know, the issue is that we're using them in production, and that's why we cannot debug it unless we write some load testing for the dev server. With sqlite I can imagine the issue is that, while with SQLAlchemy I'm not sure. We'll keep an eye on it in any case ;-)

[2017-11-28 16:41] therealmarv opened #75 "Feature request: Prometheus support"
Hi,
I'm starting to monitor my stack with Prometheus 2.0 and I wanted to ask if there are any thoughts in supporting Prometheus.

Support means that there is an url/port endpoint with simple Prometheus compatible data. So the flattened current data of the profiler web page would work theoretically. An example how this data can look is here in the README:
https://github.com/sbarratt/flask-prometheu

[2018-02-02 02:46] anandtripathi5 opened #76 "sqlalchemy support table initialize error in column method"
(in table 'flask_profiler_measurements', column 'method'): VARCHAR requires a length on dialect mysql

[2018-02-02 08:27] #76 closed

[2018-02-22 10:11] ragingra commented on #36
Was a solution for this problem found? I'm getting something very similar and cant figure it out.

[code]

[2018-03-12 22:59] mickeygjk opened #80 "Exception: key 'Com.Android.Browser.Application-Id' must not contain '.'"
flask-profiler seems not able to handle http requests with fields containing dot. probably need to sanitize the key for mongo before insertion.

Exception: key 'Com.Android.Browser.Application-Id' must not contain '.'
On Request: {'data': '', 'stream': <cStringIO.StringO object at 0x7fd978db7e30>, '_cached_data': '', 'headers': EnvironHeaders([('Total-Route-Time', u'0'), ('Accept', u'text/html,app

[2018-03-22 14:21] hadeelsharaf commented on #65
I am facing a similar issue after using uwsgi and Nginx. It was working fine with the app running using port 8000 but returns 404 after using Nginx.

[2018-04-09 06:02] yunstanford opened #81 "performance benchmark"
Hi, do you have any performance benchmark for this flask-profiler ? how much overhead does it add to Flask ?

[2018-05-15 08:46] y-zono opened #83 "profile for api running in subthread"
Hi. Can I use flask-profiler for api running in subthread? I tried it like the following. However I got ```ValueError: signal only works in main thread``` error. Can you please help me to solve it?

* files

[code]

* server.py

[code]

* api.py

[code]

* command

[code]

[2018-07-14 07:28] yccheok opened #84 "Is it possible to specific the life duration of the sampling data"
I plan to use flask-profiler in an already running production environment.

However, I have a concern that, after running sometime, the collected sampling data will make the disk full.

Is there a way to tell flask-profiler, only keep the sampling data for last 14 days?

Thanks.

[2018-07-20 09:13] zunjae opened #85 "Authentication not working"
I keep getting the error `WARNING:root:flask-profiler authentication failed` when I have flask-profiler and auth enabled. Here's my code

[code]

The only way to get into flask-profiler is if I disable `basicAuth - enabled` but I obviously don't want the rest of the world to see my stats. I can verify that the file `/var/www/TestApp/flask-profiler.sql` is writable as it is about 9MB now.

How do I

[2018-07-20 10:40] zunjae commented on #85
I tried to login throug curl (curl -v -u admin:admin) and analyzed the headers and response. the Authorization header is send correctly, however the client still denies it and sends back a 401 status code.

[2018-07-20 13:39] zunjae commented on #85
so I only have this issue on a production server, not locally...

so using common sense I googled "WSGI basic authorization not working" and learned that I need to put `WSGIPassAuthorization On` in my apache config file.

This issue is not related to your library, however I'm sure other people will have this issue as well.

[2018-07-20 13:39] #85 closed

[2018-08-03 06:55] huangxiaohen2738 opened #86 "class sql_alchemy some method not implemented"
In Class Sqlalchemy,

the method getMethodDistribution and getTimeseries are not implemeted

[2018-08-18 12:09] iurisilvio commented on #36
The problem here is with a shared sqlite3 cursor.

https://github.com/muatik/flask-profiler/blob/b9d4b7ab6341d60f857ec48d259210fd7f25a7f7/flask_profiler/storage/sqlite.py#L33
https://stackoverflow.com/questions/26629080/python-and-sqlite3-programmingerror-recursive-use-of-cursors-not-allowed

[2018-09-10 12:53] bochaga-masaval commented on #86
Same issue here

[2018-09-10 12:56] huangxiaohen2738 commented on #86
@bochaga-masaval   Many methods are not implemented。 I rewrite it with flask-sqlalchemy(MySQL)

[2018-10-04 18:52] bryangaikwad commented on #86
@huangxiaohen2738  How did you rewrite it with flask-sqlalchemy?
Following is my current flask_profiler config:
app.config["flask_profiler"] = {
    "storage": {
        "engine": "sqlalchemy",
        "db_url": app.config['SQLALCHEMY_DATABASE_URI']
    },
    "ignore": [
        "^/static/.*"
    ]
}

[2018-10-11 03:29] huangxiaohen2738 commented on #86
I write a new project by myself

[2018-10-11 03:29] #86 closed

[2018-11-11 06:58] aardvark82 commented on #72
Same issue here. How do you recover?

[2018-11-16 03:32] anandtripathi5 opened #90 "sqlalchemy engine not working with postgres"
sqlalchemy engine giving error for postgres "endedAt column doesn't exists" cause postgres converts column to lowercase

[2018-11-17 18:33] #90 closed

[2018-11-17 18:36] muatik commented on #72
@aardvark82 you can use another db vendor via SQLAlchemy integration. check out README.md page for more information.

[2018-11-18 21:00] muatik commented on #84
At the moment, it is not possible. But it is a good idea. If I have enough time, I may implement it.

[2018-11-18 21:00] #81 closed

[2018-11-19 06:47] anandtripathi5 opened #92 "Pypi version is still pointing to version 1.7 though its version is saying 1.8"

[2018-11-19 06:53] anandtripathi5 commented on #92
@muatik please have a look on this, I have sent a mail to you also regarding this.

[2018-11-19 11:49] muatik commented on #92
I'll make a quick deployment to pypi. but deployment to pypi should be automated and can be done in travis.ci. https://docs.travis-ci.com/user/deployment/pypi/ I will work on it.

[2018-11-19 12:07] anandtripathi5 commented on #92
Yeah, thanks

[2018-11-30 10:15] OTaufer opened #95 "Missing sqlachemy requirement"
In tests requirements missing sqlachemy and they failed on ModuleNotFoundError.

https://github.com/muatik/flask-profiler/pull/94

[2018-11-30 13:17] OTaufer opened #97 "jsonrpc support"
When someone uses jsonrpc, all statistics are aggregate into one endpoint. This fix could help.

https://github.com/muatik/flask-profiler/pull/96

[2018-12-11 14:53] Tetius opened #98 "TypeError: Object of type 'UUID' is not JSON serializable when url param is of type uuid"
flask-profiler raises and exception when calling and endpoint with uuid parameter like "/game/<uuid:game_id>/status"

Windows 10 if it matters.

[code]

[2018-12-31 22:21] yccheok opened #99 ""Dump current database" not workable for mongodb"
Thank you for creating a simple-to-use profiling tool.

We are using mongodb as storage

[code]

When we perform "Dump current database"

<img width="452" alt="x" src="https://user-images.githubusercontent.com/308276/50568475-72422c80-0d8d-11e9-97f6-757106be176a.png">

We get the following error

[2019-03-14 06:25] AbdealiJK commented on #36
FWIW, I was using flask-profiler 1.7 all this while and didnt face an issue for a year. I just moved to 1.8.1 and am seeing it multiple times.

[2019-08-12 03:27] StoneMoe commented on #19
Still no progress on this since 2015?

[2019-08-30 23:48] cluc-md commented on #99
I am experiencing the very same issue. Considering that SqLite isn't working at all, it's a step in the right direction.

[2019-12-08 21:25] dmitrypol opened #104 "Support Redis as storage option"
Just a suggestion.  I wonder if anyone else has asked about it?

Pluses:

- really fast, could use data structure like Redis hashes.
- could use Redis TTL to expire data after certain period of
-

Minuses:

- no easy way to query by values in Redis.  Would need to build secondary indexes for that in Redis.

[2019-12-19 08:19] NiteshSaxena opened #105 "TypeError: Object of type 'Resource' class is not JSON serializable"
I am creating a Flask Rest API using Flask RestPlus framework. In that I am trying to integrate the Flask Profiler and while running the api, it throws the following error. If I remove the Profile decorator it works fine but does not profile the resource.

Below is the complete code. Can someone help me on this.
[code]

[2020-03-25 09:01] ntanhhus commented on #65
Hello @hadeelsharaf, could you please explain more about how you fixed it? I am having the same issue with uwsgi and nginx.

[2020-03-25 09:05] hadeelsharaf commented on #65
I actually figured out the problem with my application before fixing this
issue.

I had to simulate everything on my local machine.

On Wed, Mar 25, 2020, 11:01 AM ntanhhus <notifications@github.com> wrote:

[2020-10-12 11:01] talboren opened #110 "NULL result in a non-nullable column - Snowflake as storage"
The error occurs when storage is sqlalchemy using snowflake as db_url.

The problem occurs due to the reason that Measurements is initiated with no ID (id=None) and send the query as the following:

When removing the 'id' argument from the query, snowflake inserts the row successfully and ID is automatically generated by the DB and automatically incremented.

[2020-10-20 08:42] #36 closed

[2021-04-06 16:48] amarvin commented on #95
Looks like this Issue can be closed, as the PR was merged.

[2021-04-06 16:50] amarvin commented on #92
Pypi shows latest as v1.8.1, so this can be closed.

[2021-04-07 04:20] #92 closed

[2021-04-18 19:09] #110 closed

[2021-04-20 20:46] rushimanche opened #112 "AttributeError partially initialized module (most likely due to a circular import thrown during flask_profiler import"
Hello,

I am trying to import flask_profiler into my project.

Here is my requirements.txt file:

[code]

For some reason, this throws an attribute error in an unrelated file. Completely confused here. Can anyone help?

[2021-05-17 15:40] amarvin opened #113 "Allow defining SQLite3 location"
Would be great if the location of the SQLite3 database file could be configured. I tried by setting

[code]

but I get this error traceback:

[code]

My use case is that the directory `/var/lib/profiler/` is an Azure PersistentVolume, so that my `flask_profiler` data isn't cleared with every app deploy.

[2021-05-17 17:10] amarvin commented on #113
Nevermind, I found the correct option to configure from https://github.com/muatik/flask-profiler#sqlite.

[code]

[2021-05-17 17:10] #113 closed, assigned to nobody

[2021-07-09 20:48] amarvin commented on #72
Same issue here. SQLAlchemy docs seem to say that SQLite3 database locking could be even worse when using SQLAlchemy rather than using the native SQLite3 connector: https://docs.sqlalchemy.org/en/14/dialects/sqlite.html#database-locking-behavior-concurrency.

[2021-10-20 17:49] amarvin opened #114 "New release"
There hasn't been a new release in three years, but I'd like to use some new changes (specifically https://github.com/muatik/flask-profiler/commit/91e7ec74e8a3a53bf5748acf43507084e6955e02) without installing from source. Could you publish a new release?

[2021-11-12 17:57] amarvin opened #116 "Endpoint call fails, if `flask-profiler` has error"
`flask-profiler` is awesome, nice work! I'm using it with `SQLAlchemy` and PostgreSQL. Sometimes there are spikes of usage with my app though, and I get this error:

[code]

which I believe is an error writing the runtime to PostgreSQL occurring when there's many simultaneous database connections. Perhaps `flask-profiler` could fix this error, by [adding a `pool_pre_ping=True` to the database engi

[2021-11-12 18:09] amarvin commented on #116
Oh, pre-ping was added in 0f5468c6fb2b29b45dfc993805cf5256700c6a08. I'll try installing that commit. Would be great to have a new release with that (#114).

[2021-11-22 09:03] SharjeelBaig0508 opened #117 "RuntimeError: dictionary keys changed during iteration"
![image](https://user-images.githubusercontent.com/51065492/145760491-5396d508-e6f2-40cd-b96f-6ca8af38be21.png)

I'm using MongoDB with flask profiler and when I used the filtering feature of flask profiler and checked the logs of my app it returns:

I investigated on flask-profiler/storage/mongo.py and noticed this error and found a solution for this:

**Suggested Solution:**

in flask-profiler/f

[2021-12-14 13:44] anandtripathi5 opened #118 "Text of Modal body with description of the API is overflowing."
Modal content is overflowing from the body
![image](https://user-images.githubusercontent.com/10723482/146009756-972db944-a863-4c3c-98a0-20acad4beb84.png)

[2021-12-14 14:26] anandtripathi5 opened #120 "API body response is escaped with backslash"
API body content is escaped with backslash
![image](https://user-images.githubusercontent.com/10723482/146016887-481e3ede-85ea-47f1-a903-0099189f0324.png)

[2022-02-21 09:11] rhanqtl opened #121 "Is Flask-SocketIO supported?"

[2022-06-23 05:50] dingwf opened #122 "pymongo 4.x not support ensure_index"
PyMongo 4.x aready remove ensure_index(), should use [create_index()](https://pymongo.readthedocs.io/en/stable/api/pymongo/collection.html#pymongo.collection.Collection.create_index) or [create_indexes()](https://pymongo.readthedocs.io/en/stable/api/pymongo/collection.html#pymongo.collection.Collection.create_indexes).

https://pymongo.readthedocs.io/en/stable/migrate-to-pymongo4.html#id43

[2022-10-22 18:06] kesarsauce opened #124 "Show variables in endpoints on dashboard"
Example:
- /pages/apples
- /pages/oranges

Instead of
- /pages/\<pageName>
- /pages/\<pageName>

Could be helpful to measure traffic in dynamic routes